<header class="ui top fixed inverted blue  icon menu main navigator">
    <div class="item">
        <div class="ui avatar image">
            <img src="./public/img/store.png">
        </div>
        <div class="content">
            <div class="header">
                Neytanch Store
            </div>
        </div>
    </div>
    <div class="search item">
        <div class="ui transparent inverted icon input">
            <input type="text" placeholder="Type to search...">
            <i class="search inverted link icon"></i>
        </div>
    </div>
    <div class="right menu">
        <a class="item" href="/">
            Home
        </a>
        <div class="ui dropdown item orange">
            Claese del profesor
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/calculadora">calculadora</a>
                <a class="item" href="/contacto">Contact</a>
                <a class="item {{active-item}}" href="/eventos">Events</a>
                <a class="item {{active-item}}" href="/ajaxExample">ajax Example</a>
            </div>
        </div>

        <a class="item" href="/createItem">
            <div class="ui vertical animated button white" tabindex="0" style="width:100px;">
                <div class="visible content">Publica AQUI</div>
                <div class="hidden content">Publica GRATIS</div>
            </div>
        </a>
        <a class="item" href="/login">
            <div class="ui vertical animated facebook button" tabindex="1" style="width:100px;">
                <div class="visible content">Log in</div>
                <div class="hidden content"> Iniciar session</div>
            </div>
        </a>

    </div>

</header>