<div class="ui modal login-modal">
    <i class="close icon"></i>
    <div class="header">
        Inciar Session
    </div>
    <div class="image content">
        <div class="ui centered medium image">
            <img src="https://static.thenounproject.com/png/10299-200.png" class="ui centered medium image">
        </div>
        <div class="description">
            <div class="column">
                <form method="get" class="ui large form">
                    <div class="ui stacked secondary  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <!--  <div class="ui fluid large orange submit button">Login</div> -->
                    </div>

                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">Regitrarse?</div>
        <div class="ui positive right labeled icon button">Inciar Session</div>
    </div>
</div>