<div class="ui middle aligned center aligned grid  login-form">

    <div class="column centered">
        <h2 class="ui image header">
            <div class="content">
               Iniciar Session
            </div>
        </h2>
        <form  method="get" class="ui large form">
            <div class="ui stacked secondary  segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large orange submit button">Login</div>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            Nuevo usuario? <a href="#">Registrate</a>
        </div>
    </div>
</div>